/* Variaveis Principais do IDGX */
@idgx-main-color: #2864ae;
@idgx-main-bg: #fff;

/* Fontes */
@idgx-main-font: Raleway,sans-serif;
@idgx-title-font: merriweatherblack_italic;

/* Demais variaveis do IDGX */
@idgx-body: @idgx-main-bg;
@idgx-title: @idgx-main-color;
@idgx-link: lighten(@idgx-main-color, 10%);
@idgx-header: @idgx-main-bg;
@idgx-navbar: @idgx-main-color;
@idgx-breadcrumb: @idgx-main-bg;
@idgx-footer: darken(@idgx-main-color, 10%);

/* IDGX Estilos Basicos */
body {
	background-color: @idgx-body;
	color: contrast(@idgx-body);
	font-family: @idgx-main-font;
	font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

a {
    color: @idgx-link;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @idgx-title-font;
}
#content-core a {
    border-bottom: none;
}

/* IDGX Conteudo */
#portal-breadcrumbs {
	background-color: @idgx-breadcrumb;
	color: @idgx-main-color;
	margin-top: 20px;

	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

	.container {
		margin-bottom: 40px;
	}
}
#portal-breadcrumbs #breadcrumbs-home:before {
	content: "\e80a";
	font-family: idgx;
}
.plone-breadcrumb ol > li + li::after,
.plone-breadcrumb ol > li + li::before  {
	color: @idgx-main-color;
	content: "/";
	border: none;
	top: 0;
}

.documentFirstHeading {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    color: @idgx-title;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: none;
}

/* IDGX Footer */

#portal-footer-wrapper {
    background-color: @idgx-footer;
    color: contrast(@idgx-footer);
    text-align: center;

    a {
    	color: contrast(@idgx-footer);
    	text-decoration: underline;
    }
}

.portlet-static-idgx-icones li {
	list-style: none;
	display: inline-block;
	width: 60px;
	height: 60px;
	font-size: 5rem;

	a {
		color: #fff;
	}
}

/********** Estilos Básicos do IDG **********/

@import '../css/_fonts.css';
@import '../css/_header.less';
@import '../css/_busca.less';


/* Icones do tema usando fontello idgx */
@import '../fontello/css/idgx.css';
/* sobrepoe os icones do plone em algumas partes do site */
.outer-wrapper [class^="icon-"]:before, 
.outer-wrapper [class*=" icon-"]:before,
footer [class^="icon-"]:before, 
footer [class*=" icon-"]:before  {
	font-family: "idgx" !important;
}
.template-overview-controlpanel .outer-wrapper article [class^="icon-"]:before, 
.template-overview-controlpanel .outer-wrapper article [class*=" icon-"]:before {
	font-family: "fontello" !important;
}
