#portal-searchbox {
	background: @idgx-searchbox;
    padding: 6px;
    border-radius: 14px;
    clear: none;
    width: 40%;
    max-width: 100%;
    margin-left: 0;
    height: 45px;
}
#portal-searchbox:after {
	content: "\e802";
    font-family: idgx;
    float: right;
    color: @idgx-searchbox-icon;
    font-size: 2rem;
    margin-right: 6px;
}
input.searchField {
    background: transparent;
    border: 0;
    box-shadow: none;
    font-style: italic;
    font-size: 1.6rem;
    width: 90% !important;
}
input.searchField::placeholder {
    color: contrast(@idgx-searchbox);
}
#portal-searchbox input[type="submit"] {
    display: none;
}
#portal-searchbox.busca-ativada {
	right: 15px;
    width: 96%;
    position: absolute;
    top: 50px;

    input.searchField {
    	width: 100% !important;
    }
}
#portal-searchbox.busca-ativada:after {
	display: none;
}
.header-fixo #portal-searchbox.busca-ativada {
	top: 0px;
}